/*컨트롤러(우측상단검색창)*/
.controller {
	position:fixed;
	top:56px;
	right:16px;
	display: flex;
	flex-direction: column;
	background-color: var(--color-gray);
	border-radius: 8px;
	padding:16px;
	color:#ffffff;
	z-index:100;
	/*검색콘솔에 수직으로 깔리는 요소들*/
	&>* {
		min-height:24px;
		padding:none;
		display: flex;
		flex-direction: row;
		&>p {
			/*검색필드 제목*/
			&:first-child {
				width:72px;
				text-align: left;
			}
			/*검색필드 제목 옆에 붙는 ':'*/
			&:nth-child(2) {
				width:16px;
				text-align: right;
				padding-right: 8px;
			}
		}
		&>input[type="checkbox"] {
			text-align: center;
			height:16px;
		}
		&>input[type="text"] {
			width:160px;
		}
		&>select{
			width:160px;
		}
	}
}