header {
	position: fixed;
	background: var(--color-light);
	color: var(--color-dark);
	display: flex;
	width:100%;
	left: 0;
	top:0;
	z-index: var(--z-header);
	height: 40px;
	align-items: center;
	justify-content: left;
	font-family: 'Malgun Gothic';
	text-shadow: none;
}

header>a>.title {
	font-weight: 600;
	font-size:20px;
	padding-left:8px;
}

header>.subtitle {
	font-size:16px;
	font-weight:100;
}