.mainContainer {
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: column;
	align-items: center;
	/* justify-content: space-between; */
	color: #fff;
	padding-top: var(--header-height);
	&>h2 {
		font-size: 24px;
		font-weight: initial;
	}
	&>img {
		border-radius: 16px;
		width: 360px;
		height: 360px;
		background-color: var(--color-lightest);
	}
	&>.mainMenu {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 16px;
		margin-top: 32px;
		&>.list {
			display: flex;
			justify-content: center;
			gap: 16px;
			& .menu {
				width:128px;
				height:64px;
			}
		}
	}
}

.youtube {
	color:#c4302b;
}

.github{
	color:black;
}