.main-container {
	padding-top: 128px;
	display: flex;
	flex-direction: column;
	align-items: center;
	&>img {
		border-radius: 16px;
	}
}

.main-links {
	margin-top:32px;
	display: flex;
	gap: 16px;
	align-items: center;
	justify-content: center;
	height:48px;
	& .icon-button {
		width:40px;
		height:40px;
		&>i {
			font-size: 24px;
		}
	}
}

.youtube {
	color:#c4302b;
}

.github{
	color:black;
}