.mid {
	flex:1;
	background-color: rgb(33,33,33);
	display: flex;
	flex-direction:row;
	width: 100%;
	margin-top: 40px;
	position:relative;
}

.mid>.contents {
	flex:1;
	padding-bottom:16px;
	align-items: center;
	display: flex;
	flex-direction: column;
}