nav {
	position:relative;
	left:0px;
	width:48px;
	/* height: 100%; */
	display: block;
	z-index: 5;
	box-shadow: 0px 0px 0px #0003;
	&::before {
		pointer-events: none;
		position: absolute;
		content: '';
		transition: all 0.25s ease;
		width: 48px;
		height: 100%;
		z-index: 4;
		background-color: var(--color-gray);
	}
	&:hover {
		&::before{
			width:256px;
			box-shadow: 8px 0px 16px #0003;
		}
		&>.container {
			& .widget {
				&>p {
					opacity: 1;
				}
			}
		}
	}
	&>.container {
		position: absolute;
		display:flex;
		flex-direction: column;
		width: 256px;
		height: 100%;
		transition: all 0.25s ease;
		overflow-x: hidden;
		padding: 8px;
		gap:8px;
		z-index: 6;
		& .widget {
			display: flex;
			align-items: center;
			color: #fff;
			white-space: nowrap;
			gap: 8px;
			&>img {
				width:32px;
				height:32px;
			}
			&>p {
				opacity: 0;
				flex: 1;
				transition: opacity 0.25s ease;
				font-size: 16px;
				text-align: left;
			}
		}
	}
}