nav {
	position:fixed;
	background-color: var(--color-gray);
	transition: all 0.25s ease;
	left:0px;
	width:48px;
	height: 100%;
	display: block;
	overflow-x: hidden;
	overflow-y: hidden;
	z-index: 4;
	&:hover {
		width:256px;
		&>.container {
			& .widget {
				&>p {
					opacity: 1;
				}
			}
		}
	}
	&>.container {	
		display:flex;
		flex-direction: column;
		width: 256px;
		height: 100%;
		transition: all 0.25s ease;
		overflow-x: hidden;
		padding: 8px;
		gap:8px;
		& .widget {
			display: flex;
			align-items: center;
			color: #fff;
			white-space: nowrap;
			gap: 8px;
			&>img {
				width:32px;
				height:32px;
			}
			&>p {
				opacity: 0;
				flex: 1;
				transition: opacity 0.25s ease;
				font-size: 16px;
				text-align: left;
			}
		}
	}
}