.top-bar {
	background: var(--color-light);
	color: var(--color-dark);
	display: flex;
	width:100%;
	position:fixed;
	top:0;
	left:0;
	z-index: 100;
	height: 40px;
	align-items: center;
	justify-content: left;
}

.top-bar>a>.title {
	font-weight: 600;
	font-size:20px;
	padding-left:8px;
}

.top-bar>.subtitle {
	font-size:16px;
	font-weight:100;
}