@import "~@flaticon/flaticon-uicons/css/all/all";

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Malgun Gothic';
}

a {
	text-decoration: none;
	color:inherit;
	&:visited {
		color:inherit;
	}
	&:active {
		color:inherit;
	}
}

::-webkit-scrollbar {
	z-index: 200;
	width:8px;
	height:8px;
}

i {
	display: flex;
	align-items: center;
}

::-webkit-scrollbar-track {
	background-color: #686046;
}

::-webkit-scrollbar-thumb {
	background-color: #ffdd6f;
	transition: background-color 0.25s ease;
	border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #fff1c3;
}

.row {
	display: flex;
	flex-direction: row;
}

.col {
	display: flex;
	flex-direction: column;
}

.rel {
	position:relative;
}

.abs {
	position:absolute;
}

.pointer {
	cursor: pointer;
}

.non-focus {
	pointer-events: none;
}

.hidden {
	visibility: hidden;
}

.white {
	color:white;
}

.fill {
	position:absolute;
	width:100%;
	height:100%;
	left:0px;
	top:0px;
}

.highlight {
	position:absolute;
	width:100%;
	height:100%;
	left:0px;
	top:0px;
	opacity: 33%;
	background-color:#ffffff;
	visibility: hidden;
}

*:hover>.highlight {
	visibility: visible;
}

/*폰트설정*/
@font-face {
	font-family: 'W2002'; /* 폰트 이름 설정 */
	src: url('./css/2002.ttf') format('truetype'); /* 폰트 파일 경로 설정 */
}

.w3font {
	font-family: 'W2002', sans-serif;
	text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}

.font16 {
	font-size: 16px;
}

.font24 {
	font-size:24px;
}

/*아이콘버튼*/
.icon-button {
	border-radius: 8px;
	background-color: rgb(228,208,163);
	align-items: center;
	justify-content: center;
	display: flex;
	cursor: pointer;
	min-width:32px;
	height:32px;
	&:hover,.hover {
		background-color: rgb(90,73,55);
		border: 2px solid rgb(228,208,163);
		&>i {
			color: rgb(228,208,163);
		}
	}
	&.hover {
		/* background-color: rgb(90,73,55);
		border: 2px solid rgb(228,208,163); */
		cursor: default;
		/* &>i {
			color: rgb(228,208,163);
		} */
	}
	&>i {
		color: rgb(90,73,55);
		text-shadow: none;
		font-size: 16px;
	}
}

/*텍스트 중간에 들어가는 아이콘버튼*/
.text-button {
	text-align: center;
	align-items: center;
	justify-content: center;
	display: flex;
	cursor: pointer;
	width:1em;
	height:1em;
	&>i {
		color: inherit;
		/*text-shadow: none;*/
	}
}

/*툴팁박스*/
.description-container {
	display:flex;
	flex-direction: column;
	max-width:960px;
}

.description-box {
	/*width:100%;*/
	padding:16px;
	background-color: #464546;
	border-radius: 16px;
	width:720px;
	display: flex;
	flex-direction: column;
}

/*64x64 워크아이콘*/
.w3x-icon {
	width:64px;
	height:64px;
	display: flex;
}

.icon-24x {
	width:24px;
	height:24px;
}

/*너비*/
.width-half{
	width:50%;
}

/*높이*/
.h24{
	height: 24px;
}

.h32{
	height: 32px;
}

.h48{
	height: 48px;
}

.h64{
	height: 64px;
}

/*Align*/
.horizon-left {
	text-align: left;
	justify-content: left;
}

.horizon-center {
	text-align: center;
	justify-content: center;
}

.horizon-right {
	text-align: right;
	justify-content: right;
}

.vertical-top {
	align-items: flex-start;
}

.vertical-center {
	align-items: center;
}

.vertical-bottom {
	align-items: flex-end;
}

.bottom-right {
	bottom:0px;
	right:0px
}

/*컨트롤러(우측상단검색창)*/
.controller {
	position:fixed;
	top:56px;
	right:16px;
	display: flex;
	flex-direction: column;
	background-color: #464546;/*#1a2864;*/
	border-radius: 8px;
	padding:16px;
	color:#ffffff;
	z-index:100;
	/*검색콘솔에 수직으로 깔리는 요소들*/
	&>* {
		min-height:24px;
		padding:none;
		display: flex;
		flex-direction: row;
		&>p {
			/*검색필드 제목*/
			&:first-child {
				width:72px;
				text-align: left;
			}
			/*검색필드 제목 옆에 붙는 ':'*/
			&:nth-child(2) {
				width:16px;
				text-align: right;
				padding-right: 8px;
			}
		}
		&>input[type="checkbox"] {
			text-align: center;
			height:16px;
		}
		&>input[type="text"] {
			width:160px;
		}
		&>select{
			width:160px;
		}
	}
}

/*외곽선*/

.tier0 {
	border:4px solid #cccccc99;
}

.tier1 {
	border:4px solid #ffffff99;
}

.tier2 {
	border:4px solid #00ff0099;
}

.tier3 {
	border:4px solid #0099ff99;
}

.tier4 {
	border:4px solid #cc00ff99;
}

.tier5 {
	border:4px solid #ff990099;
}

.border-fill {
	width:100%;
	height:100%;
	left:0px;
	top:0px;
	position:absolute;
}

.shadow {
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

/*패딩, 마진*/
.m-left16 {
	margin-left:16px;
}

.m-right16 {
	margin-right:16px;
}

.m-bottom16 {
	margin-bottom: 16px;
}